body {
  font-family: Montserrat;
  font-size: 18px;
  padding: 50px 150px;
  margin: 0;
  height: 100%;
  background-color: #f3d250;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

li {
  float: left;
}

.nav-links a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 60px;
  margin: 0;
  line-height: 1.1;
}

h4 {
  margin: 10px 0;
  text-align: center;
}

hr {
  border: 1px solid #fff;
  margin: 15px 0;
}

.nav-links {
  float: right;
  font-size: 20px;
}


.nav-links a:hover{
  color: black;
}


.logo {
  padding: 12px 15px;
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
}
.image-carousel {
  margin: auto;
  width: 50%;
  height: 350px;
  margin-top: 2%;
  border-style: solid;
  text-align: center;
}

.main-caption {
  margin: auto;
  width: 35%;
  padding-top: 5%;
}

.about {
  color: black;
  background-color: #fff;
}
